<template>
  <section id="uploadWrapper">
    <h1 class="heading">
      <span>Upload</span>
    </h1>
      <form @submit="sendFile" id="upload_form" enctype="multipart/form-data" method="post">
      <!-- <form id="upload_form" enctype="multipart/form-data" method="post"> -->
        <div class="flex w-full h-screen items-center justify-center text-center drop_label" id="app">
          <div class="p-12 bg-gray-100 border border-gray-300 drop_area" @dragover="dragover" @dragleave="dragleave" @drop="drop">
            <input type="file" multiple name="fields[assetsFieldHandle][]" id="assetsFieldHandle" class="w-px h-px opacity-0 overflow-hidden absolute" @change="onChange" ref="file" accept="audio/*" />
            <label for="assetsFieldHandle" class="block cursor-pointer">
              <div>
                Drop files in here or <span class="underline">click here</span> to upload their files
              </div>
            </label>
            <div style="height: 80%; width: 99%; overflow:auto;">
              <table v-if="this.filelist.length" v-cloak>
                <tr v-for="(file, key) in filelist" v-bind:key="key">
                    <td class="song_label">
                      <div class="text">
                        {{ file.name }}
                      </div>
                    </td>
                    <td class="remove_btn">
                      <button class="" type="button" @click="remove(filelist.indexOf(file))" title="Remove file">remove</button>
                    </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <progress ref="progressBar" id="progressBar" value="0" max="100" style="width: 50%; height: 2.5%; display:none;"></progress>
        <h3 class="status" id="status">{{ status }}</h3>
        <p class="status" id="loaded_n_total">{{ progressText }}</p>
        <hr />
        <button class="upload_btn" type="submit">Upload</button>
    </form>
    
  </section>
</template>

<script>
  import { settingStore, sharedStore, userStore } from '@/stores'
  import { parseValidationError, forceReloadWindow, showOverlay, hideOverlay, alerts } from '@/utils'
  import router from '@/router'
  import axios from 'axios'

  export default {
    components: {
      Btn: () => import('@/components/ui/btn')
    },
    data () {
      return {
        state: settingStore.state,
        sharedState: sharedStore.state,
        status: '',
        progressText: '',
        filelist: [] ,
        file: null,
        chunks: [],
        uploaded: 0,
        size: 0,
        ResStatus: true,
        filePartUploaded: [],
      }
    },

    computed: {
      shouldWarn () {
        // Warn the user if the media path is not empty and about to change.
        return this.sharedState.originalMediaPath &&
          this.sharedState.originalMediaPath !== this.state.settings.media_path.trim()
      },
    },

    methods: {    
      sendFile(e) {        
        e.preventDefault();
        // console.log(this.chunks);
        //Upload multifile
        let files = this.filelist;
        this.ResStatus = true;
        if(files) {
          try {
            // fd.append("quantity", files.length);
            files.forEach((file, i)=>{
              this.size = file.size;
              this.chunks = [];
              this.createChunks(file);
              let fox = 0;  
              fox = this.filePartUploaded[i];
              while (fox <= this.chunks.length && this.ResStatus){
                let fd = new FormData();
                let part = this.chunks[fox]
                
                if (fox == this.chunks.length) fd.append("is_last", 0);
                
                fd.append("name", file.name);
                fd.append("size", this.size);
                fd.append("file", i);
                fd.append("part", fox);
                fd.append("content", part);

                this.upload(fd, i);

                if (this.ResStatus) fox++;  
              }
            });

            
          } catch (err) {
            // let msg = 'Unknown error.'
            // if (err.response.status === 500) {
            //   msg = parseValidationError(err.response.data)[0]
            // }
            alerts.error(err)
          }
        }
      },

      async upload(fd, i){
        this.uploaded = 0;
        await axios.post(
          '/upload', 
          fd,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            onUploadProgress: e => {
              this.uploaded += e.loaded;
              if (this.uploaded > this.size) this.uploaded = this.size;
              let percent = Math.round((this.uploaded / this.size) * 100);
              this.$refs.progressBar.style.display = "block";
              this.$refs.progressBar.value = percent;
              this.$data.status = "";
              this.$data.progressText = percent + "% uploaded... please wait";
            }
          }
        ).
        then(result => {

          this.filePartUploaded[i] = result.data.data < this.filePartUploaded[i] ? this.filePartUploaded[i] : result.data.data;

          if (result.data.status == 'OK') this.ResStatus = true;
          else this.ResStatus = false;

          if (this.uploaded == this.size){
            this.$data.status = result.data.message;
            this.$data.progressText = 'Uploaded';
            this.$refs.progressBar.style.display = "none";
            if (result.data) setTimeout(() => {
              // router.go('home')
              // forceReloadWindow()
            }, 5000);
          }
        });
      },

      onChange(e) {
        this.filelist = [...this.$refs.file.files];
        // this.file = event.target.files.item(0);
      },
      createChunks(file) {
          let size = 512000, chunks = Math.ceil(file.size / size);
          for (let i = 0; i < chunks; i++) {
            this.chunks.push(
              file.slice(
                i * size, Math.min(i * size + size, file.size), file.type
              )
            );
          }
      },
      remove(i) {
        this.filePartUploaded.splice(i, 1);
        this.filelist.splice(i, 1);
      },
      dragover(e) {
        e.preventDefault();
        // Add some visual fluff to show the user can drop its files
        if (!e.currentTarget.classList.contains('bg-green-300')) {
          e.currentTarget.classList.remove('bg-gray-100');
          e.currentTarget.classList.add('bg-green-300');
        }
      },
      dragleave(e) {
        // Clean up
        e.currentTarget.classList.add('bg-gray-100');
        e.currentTarget.classList.remove('bg-green-300');
      },
      drop(e) {
        e.preventDefault();
        this.$refs.file.files = e.dataTransfer.files;
        this.onChange(); // Trigger the onChange e manually
        // Clean up
        e.currentTarget.classList.add('bg-gray-100');
        e.currentTarget.classList.remove('bg-green-300');
      }
    }
  }
</script>

<style lang="scss">
@import "~#/partials/_vars.scss";

.underline{
  text-decoration: underline;
}
#uploadWrapper {
  input[type="file"] {
    width: 80%;
    margin-top: 12px;
    display: none;
  }
  form{
    display: block;
    text-align: center;
    line-height: 70px;
    border-radius: 5px;
    height: 100%;
    margin-top: 10px;
  }
  hr{
    position: absolute;
    width: 100%;
    bottom: 8rem;
  }
  .upload_btn{
    position: absolute;
    bottom: 2rem;
    margin: auto;
    left: 0;
    right: 0;
    width: 10%;
  }
  .status{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 65px;
  }
  
  progress{
    width: 50%;
    height: 2.5%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 6rem;
  }
  .song_label{
    width: 90%;
    // background: #ff7d2dcc;
    border-radius: 10px 0 0 10px;
    .text{
      text-overflow: ellipsis;
      white-space: nowrap; 
      overflow: hidden; 
      width: 50vh;
    }
  }
  label{
    margin-bottom: 8px;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .remove_btn{
    width: 10%;
    // background: #ff7d2dcc;
    border-radius: 0 10px 10px 0;
  }
  .drop_label{
    background-color: #ff7d2d;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    height: 12%;
  }
  .drop_area{
    height: 65%;
    position: absolute;
    left: 0;
    right: 0;
    width: 80%;
    background-color: rgba(75,75,75,.5);
    margin: auto;
    border-radius: 10px;
  }
  table{
    width: 90%; 
    margin: auto;
  }
  
 

  @media only screen and (max-width : 667px) {
    input[type="file"] {
      width: 100%;
    }
  }
}
</style>
