<template>
  <div class="side search" id="searchForm" :class="{ showing: showing }" role="search">
    <input type="search"
      :class="{ dirty: q }"
      @input="filter"
      autocorrect="false"
      placeholder="Search"
      ref="input"
      spellcheck="false"
      v-model="q"
      v-fhm-focus
    >
  </div>
</template>

<script>
import isMobile from 'ismobilejs'
import { debounce } from 'lodash'

import { event } from '@/utils'

export default {
  data () {
    return {
      q: '',
      showing: !isMobile.phone
    }
  },

  methods: {
    filter: debounce(function () {
      event.emit(event.$names.FILTER_CHANGED, this.q.trim());
      // let location = window.location.href;
      // if (location == "http://fhm.local/#!/home" || location == "http://fhm.local/#!/queue")
      // window.location.href = "http://fhm.local/#!/songs";
      window.location.href = "../#!/songs";
    }, 200)
  },

  created () {
    event.on({
      [event.$names.TOGGLE_SEARCH_FORM]: () => (this.showing = !this.showing),
      [event.$names.FOCUS_SEARCH_FIELD]: () => {
        this.$refs.input.focus()
        this.$refs.input.select()
      }
    })
  }
}
</script>

<style lang="scss">
@import "~#/partials/_vars.scss";
@import "~#/partials/_mixins.scss";

#searchForm {
  @include vertical-center();
  flex: 0 0 50vw;
  order: 0;
  background: $colorSearchFormBgr;

  input[type="search"] {
    width: 50vw;
    margin-top: 0;
  }

  @media only screen and (max-width : 667px) {
    z-index: -1;
    position: absolute;
    transition: .4s ease-out;
    left: 0;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    padding: 12px;
    top: 0;

    &.showing {
      top: $headerHeight;
      z-index: 100;
    }

    input[type="search"] {
      width: 100%;
    }
  }

  .desktop & {
    justify-content: flex-end;

    input[type="search"] {
      width: 160px;
    }
  }
}
</style>
